<div class="max-w-xl mx-auto">
  <!-- banner -->
  <div class="flex bg-yellow-3 rounded" style="overflow: hidden;">
    <div class="w-1/2 p-40 text-slate">
      <div>Latest</div>
      <h1 class="title-lg my-40">
        Get updates about the COVID-19 vaccine
      </h1>
      <a class="btn btn-inverse mb-20" href="javascript:void(0)">Learn more</a>
    </div>
    <div class="w-1/2" style="position: relative;">
      <img style="position: absolute; width: auto; height: 100%; object-fit: cover;"
           src="https://sf.gov/sites/default/files/styles/836x484/public/2021-02/Geraldine%20McCowanLHHWeb.jpg?itok=ijhjZjoJ"
           aria-describedby="campaign-image-caption">
    </div>
  </div>
  <div class="text-slate-light text-small text-right mt-4">
    “Mama G gets her COVID-19 vaccine at Laguna Honda, so she can resume her art” by Laguna Honda Hospital
  </div>
</div>
