---
layout: skeleton
---

{% from 'nav.njk' import nav_link with context %}
{% set nav %}
  {{ nav_link('/', false) }}
  {{ nav_link('/foundations') }}
  {{ nav_link('/components') }}
  {{ nav_link('/usage') }}
{% endset %}

{% set toc = content | toc %}

<div class="bg-grey-1">
  {% set overlayClasses = 'z-50 pointer-events-none responsive-container responsive-grid fixed h-full top-0 left-0 right-0 opacity-75' %}

  <div class="responsive-container flex justify-between py-8">
    <details>
      <summary
        data-hotkey="Control+g"
        aria-label="press Control+g to enable the grid overlay"
        class="text-slate-light font-mono"
      >Press <kbd>CTRL</kbd> + <kbd>G</kbd> to toggle grid overlay</summary>
      <div class="md:hidden {{ overlayClasses }}">
        {% for i in range(0, 6) %}
          <div class="bg-red-1"></div>
        {% endfor %}
      </div>
      <div class="hidden md:grid {{ overlayClasses }}">
        {% for i in range(0, 12) %}
          <div class="bg-red-1"></div>
        {% endfor %}
      </div>
    </details>
    <div>
      {% include 'repo-links.njk' %}
    </div>
  </div>
</div>

<div class="responsive-container flex lg:hidden mt-60 mb-28 items-center">
  <details>
    <summary>
      <sfgov-icon class="pr-20" symbol="plus"></sfgov-icon>
    </summary>
    <details-dialog class="top-0 left-0 w-full h-full fixed p-20 bg-grey-1 z-50 max-w-sm">
      <sfgov-icon class="py-20 block mt-96 ml-8" symbol="close" data-close-dialog></sfgov-icon>
      {{ nav | safe }}
    </details-dialog>
  </details>

  <header>
    {% include 'header.njk' %}
  </header>
</div>

{% block main %}
  <div class="responsive-grid responsive-container grid-rows-2">
    <div class="hidden lg:block lg:row-span-full lg:col-span-3">
      {% include 'header.njk' %}
      {{ nav | safe }}
    </div>
    <div class="col-span-full lg:col-span-9 lg:mt-48">
      {% include 'title.njk' %}
    </div>
    <div class="col-span-full lg:col-span-9 {% if toc %} xl:col-span-6 {% endif %}">
      {% block content %}
        {% include 'main.njk' %}
      {% endblock %}
      {% include 'source-meta.njk' %}
    </div>
    {% if toc %}
      <div class="hidden xl:block xl:col-span-3">
        {% include 'toc.njk' %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% include 'footer.njk' %}
