<div class="mt-80 py-20 bg-grey-dark text-white">
  <form class="max-w-xl mx-auto flex justify-between items-center">
    <div>
      <span>Was this page helpful?</span>
      <button class="btn btn-inverse ml-16">Yes</button>
      <button class="btn btn-inverse ml-16">No</button>
    </div>
    <a class="text-white block" href="javascript:void(0)">
      Report something wrong with this page
    </a>
  </form>
</div>
