<header>
  <div class="max-w-xl mx-auto py-48">
    <div class="flex items-center justify-between">
      <a class="flex items-center" href="javascript:void(0)">
        <img class="block" src="https://sf.gov/themes/custom/sfgovpl/logo.svg">
        <img class="block pl-16" src="https://sf.gov/themes/custom/sfgovpl/src/img/sfgov.svg">
      </a>
      <nav class="flex items-center">
        {% for link in nav.primary %}
          <a class="font-medium no-underline pr-28" href="{{ link.href | e }}">{{ link.text }}</a>
        {% endfor %}
        <!-- search -->
        <form class="flex items-stretch" onsubmit="javascript:void(0)">
          <input class="text-body px-16 py-8 rounded-l border border-solid border-action"
            type="text" size="16" placeholder="Search">
          <button class="btn rounded-l-0 px-16" type="submit" aria-label="Submit">
            <sfgov-icon symbol="search"></sfgov-icon>
          </button>
        </form>
        <!-- /search -->
      </nav>
    </div>
  </div>
</header>
