<header>
  <div class="px-20 max-w-xl mx-auto py-20 lg:py-48">
    <div class="flex items-center justify-between">
      <a class="flex items-center no-underline" href="/">
        <img
          alt="City &amp; County of San Francisco"
          class="block"
          height="60"
          src="https://sf.gov/themes/custom/sfgovpl/logo.svg">
        <div class="pl-16">
          <div class="title-sm text-slate mt-2">{{ site.title }}</div>
        </div>
      </a>
      <nav class="flex items-center">
        {# % include 'search.njk' % #}
      </nav>
    </div>
  </div>
</header>
