<div class="bg-grey-1">
  <div class="max-w-xl mx-auto">
    <div class="py-16 flex justify-end text-small">
      <a class="pl-28 no-underline text-slate font-medium" aria-current="link" href="javascript:void(0)">English</a>
      <a class="pl-28 no-underline text-slate" href="javascript:void(0)">Español</a>
      <a class="pl-28 no-underline text-slate" href="javascript:void(0)">中文</a>
      <a class="pl-28 no-underline text-slate" href="javascript:void(0)">Filipino</a>
    </div>
  </div>
</div>

