{% macro nav_link(url, deep=true) %}
  {% set node = url | node(collections.all) %}
  {% set children = node.data.page | children(collections.all) %}
  {% set page_active = node.data.page.url === page.url %}
  {% if deep and children.length %}
    <details class="details-reset cursor-pointer" {% if page.url.startsWith(url) %} open {% endif %}>
      <summary class="title-xs text-slate-3 mb-20">
        <div class="flex">
          <span class="flex-auto">{{ node.data.title }}</span>
          <sfgov-icon class="open:hidden" symbol="chevron-down"></sfgov-icon>
          <sfgov-icon class="hidden open:inline-flex" symbol="chevron-up"></sfgov-icon>
        </div>
      </summary>
      <ul class="m-0 p-0 list-none">
        <li class="pl-16 m-0 mb-20 {{ 'bg-slate-2 rounded-4' if page_active }}">
          <a
            href="{{ url }}"
            {% if page_active %}
              aria-current="page"
            {% endif %}
            class="block no-underline {{ 'text-white' if page_active else 'text-slate-4' }}"
          >
            {{ node.data.title }} Overview
          </a>
        </li>
        {% for child in children %}
          {% set child_active = child.url === page.url %}
          <li class="pl-16 m-0 mb-20 {{ 'bg-slate-2 rounded-4' if child_active }}">
            <a
              href="{{ child.url }}"
              {% if child_active %}
                aria-current="page"
              {% endif %}
              class="block no-underline {{ 'text-white' if child_active else 'text-slate-4' }}"
            >
              {{ child.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% else %}
    <div class="mb-20">
      <a
        class="flex justify-center title-xs no-underline mb-20"
        href="{{ url }}"
        {% if page_active %}
          aria-current="page"
        {% endif %}
      >
        <div class="flex-auto">{{ node.data.title }}</div>
      </a>
    </div>
  {% endif %}
{% endmacro %}

{% macro swatch(color, width, height) %}
  <div class="mr-20 mb-20">
    <h4 class="title-xs mt-0 mb-4">
      {{ color.label }}
    </h4>
    {% if color.value or not color.swatches %}
      <code class="block text-slate mb-8">
        {{ color.value | default('???') }}
      </code>
    {% endif %}
    {% if color.swatches %}
      <div class="flex mt-20">
        {% for child in color.swatches %}
          {{ swatch(child, width, height) }}
        {% endfor %}
      </div>
    {% else %}
      <div class="rounded {{ color.class }}"
        style="
          background-color: {{ color.value }};
          width: {{ width | default(100) }}px;
          height: {{ height | default(100) }}px;
        ">
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro tooltip(text, attrs) %}
  <div
    {{
      attributes(attrs, {
        class: 'hidden group-hocus:block rounded-4 px-8 py-4 bg-slate-4 text-white text-small font-regular'
      }) | safe
    }}
  >{{ text }}</div>
{% endmacro %}
