{% set items = collections.all | eleventyNavigation('primary') %}
{% for item in items %}
  {% if page.url === '/' %}
    {% set active = page.url === item.url %}
  {% else %}
    {% set active = item.url.startsWith(page.url) %}
  {% endif %}
  <div class="mb-20">
    <a
      class="flex justify-center title-xs no-underline mb-8"
      href="{{ item.url }}"
      {% if active %}
        aria-current="link"
      {% endif %}>
        <div class="flex-auto">{{ item.title }}</div>
        <div>
          {% if item.children.length %}
            <sfgov-icon symbol="chevron-down"></sfgov-icon>
          {% endif %}
        </div>
    </a>
    {% if active %}
      <ul class="m-0 p-0 list-none">
        {% for child in item.children %}
          <li class="p-4 pl-16 m-0 mb-20">
            <a href="{{ child.url }}">{{ child.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endfor %}
<pre hidden>{{ items | dump(2) | e }}</pre>
