{% for script in assets.scripts %}
  <script
    {% if script.src %}src="{{ script.src }}"{% endif %}
    {% if script.async %}async{% endif %}
    {% if script.defer %}defer{% endif %}>
    {{ script.content }}
  </script>
{% endfor %}
