{% include 'breadcrumb.njk' %}

<div class="mb-48">
  <h2 class="title-xl m-0" id="top">{{ title }}</h2>

  {% if subtitle %}
    <h3 class="big-desc mt-32 mb-0">{{ subtitle }}</h3>
  {% endif %}

  {% if see_also %}
    <div class="mt-8 mb-0">
      See also: {% for link in see_also %}
        <a href="{{ link.href }}">{{ link.title }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
