<div class="max-w-xl mx-auto py-48">
  <div class="flex items-center justify-between">
    <a class="flex items-center no-underline" href="/">
      <img class="block" src="https://sf.gov/themes/custom/sfgovpl/logo.svg">
      <h1 class="title-sm font-light text-black pl-16">
        <span class="font-medium">SF</span>.gov</span>
        <br>
        <span>Design system</span>
      </h1>
    </a>
    <nav class="flex items-center">
      {% include 'partials/navigation/main-links.html' %}
      {% include 'partials/navigation/search.html' %}
    </nav>
  </div>
</div>
