<div class="p-4">
  <table>
    {% for specimen in specimens %}
      <tr>
        <th class="font-normal text-left align-top pb-3 pr-3">
          <span class="title5 whitespace-nowrap">
            {{ specimen.title }}
          </span>
          <br>
          {% if specimen.class %}
            <code class="whitespace-nowrap">
              .{{ specimen.class }}
            </code>
          {% endif %}
        </th>
        <td class="align-top pb-3">
          <{{ specimen.tag }}
            class="{{ specimen.class }} mt-0"
            {% for attr, value in specimen.attrs %}
              {{ attr }}="{{ value | e }}"
            {%- endfor %}>
            {{ specimen.content | safe }}
          </{{ specimen.tag }}>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
