<div class="p-20">
  <table>
    <thead>
      <tr>
        <th scope="col" class="p-8 text-right">Name</th>
        <th scope="col" class="p-8 text-left" colspan="2">Value</th>
        <th scope="col" class="p-8 text-left">Padding</th>
        <th scope="col" class="p-8 text-left">Margin</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in tokens.spacing %}
        <tr>
          <td class="p-8 v-align-top text-right pr-8">
            {{ name }}
          </td>
          <td class="p-8 v-align-top text-left">
            <code>{{ value }}</code>
          </td>
          <td class="p-8">
            <div class="bg-red-3" style="width: {{ value }}; height: {{ value }};">
            </div>
          </td>
          <td class="p-8">
            <code>.p-{{ name }}</code>,
            <code>.p[trblxy]-{{ name }}</code>
          </td>
          <td class="p-8">
            <code>.m-{{ name }}</code>,
            <code>.m[trblxy]-{{ name }}</code>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
