<div class="p-20 text-slate max-w-lg">
  <p>The <code>&lt;kbd&gt;</code> HTML element represents computer keyboard
  interactions. We use them to display keyboard navigation instructions, such
  as pressing <kbd>Tab</kbd> or <kbd>Enter</kbd>. These elements use
  <code>display: inline-block</code>, so you'll need to use horizontal margin
  utilities like <code>mr-8</code> (right), <code>ml-8</code> (left), or
  <code>mx-8</code> (left and right) to adjust spacing with adjacent text or
  other elements.</p>

  <div class="p-16 lg:p-40 rounded bg-blue-1">
    <div class="flex items-start lg:items-center mb-20">
      <img
        class="flex-shrink-0"
        src="https://sf.gov/themes/custom/sfgovpl/src/img/icons/accessibility-slate.svg"
        width="24" height="20" alt="">
      <h3 class="title-sm m-0 ml-8 lg:ml-16">
        Navigating dashboards with a keyboard
      </h3>
    </div>
    <ul class="list-none space-y-20 m-0 p-0 lg:ml-40">
      <li><kbd class="mr-4 lg:mr-8">Control</kbd> + <kbd class="mx-4 lg:mx-8">Enter</kbd> to enter the dashboard</li>
      <li><kbd class="mr-4 lg:mr-8">Tab</kbd> or <kbd class="mx-4 lg:mx-8">Arrow</kbd> to move between visuals</li>
      <li><kbd class="mr-4 lg:mr-8">Control</kbd> + <kbd class="mx-4 lg:mx-8">Right arrow</kbd> to enter a visual or filter</li>
      <li><kbd class="mr-4 lg:mr-8">Escape</kbd> to exit a visual or dashboard</li>
    </ul>
  </div>
</div>