@import 'tailwindcss/base';

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    @apply text-action;
  }

  :focus,
  .focus {
    outline: 2px dotted #aeb0b5;
    outline-offset: 3px;
  }

  ::placeholder {
    @apply text-slate-light;
  }
}
