@import 'tailwindcss/base';

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    @apply text-action;
  }

  :focus,
  .focus {
    outline: 2px dotted theme('colors.grey.focus');
    outline-offset: 3px; /* TODO [>=3]: remove outline-offset (or set to 0) */
  }

  ::placeholder {
    @apply text-slate-light;
  }
}
