.prose {
  h3 { @apply mt-40 mb-20; }
  h4 { @apply mt-28 mb-16; }
  h5 { @apply mt-16 mb-8; }
  h6 { @apply mt-8 mb-4; }

  ul,
  ol {
    @apply p-0 mx-0 my-20;
  }

  ul:not([class]),
  ol:not([class]) {
    @apply space-y-8;

    li {
      @apply p-0 ml-28 my-0;
    }
  }

  blockquote,
  p,
  table {
    @apply mt-0 mb-20;
  }

  pre {
    @apply m-0;
  }

  * + pre { @apply mb-20; }
  pre + * { @apply mt-20; }

  code:not([class]) {
    @apply px-4 py-2 rounded-2 bg-grey-1 whitespace-nowrap;
  }

  table:not([class]) {
    border-collapse: collapse;
    border-spacing: 0;

    thead th {
      @apply border-0 border-b-1 border-solid border-black;
    }

    td,
    th {
      @apply align-top text-left px-16 py-8;
    }

    tbody tr:nth-child(even) {
      @apply bg-grey-1;
    }
  }
}

/**
 * The following are "scopes" defined by highlight.js:
 * <https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html>
 */
.hljs {
  /* "heading of a section in a config file, heading in text markup" */
  .hljs-section { @apply text-slate-light; }

  /* "XML/HTML tag" ("<" and ">", specifically) */
  .hljs-tag { @apply text-slate; }

  /* "name of an XML tag, the first word in an s-expression" (?) */
  .hljs-name { @apply text-red-3; }

  /* "name of an attribute with no language defined semantics (keys in JSON,
   * setting names in .ini), also sub-attribute within another highlighted
   * object, like XML tag" */
  .hljs-attr { @apply text-slate-light; }

   /* "name of an attribute followed by a structured value part, like CSS properties" */
  .hljs-attribute { @apply text-red-4; }

  /* "literal string, character" */
  .hljs-string { @apply text-slate; }

  /* HTML, CSS, and JS comments */
  .hljs-comment { @apply text-slate-light; }
}
